/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-shadow: none;
}

button.primary {
    height: 48px;
    border-radius: 16px;
    font-Size: 18px;
    background-color: #DCFF4E;
    border:none;
    color: #013F03;
    padding:0 16px;
    box-shadow: none;
}
 

button,button:hover, button:active, button:focus {
    box-shadow: none;

} 

button.back_button {
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: url('/icon_arrow_left_white.svg') no-repeat center / 32px 32px ;
}

button.back_button.black {
    background: url('/icon_arrow_left.svg') no-repeat center / 32px 32px ;
}

button.add_button {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    min-width: 40px;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background: url('/icon_plus_lime.svg') no-repeat center / 40px 40px ;
  }
  

  


header.header_sub {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height: 64px;
    background-color: #05330D;
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    z-index: 200;
}

header.header_transparent {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height: 64px;
    background-color:none;
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    z-index: 200;
}

header.header_white {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    z-index: 200;
}


select.LG_select {
  width: 100%;
  padding: 38px 24px 12px 24px; /* padding to make room for the arrow icon */
  text-indent: 0;
  font-size: 16px;
  border-radius: 0px;
  background: #ffffff;
  appearance: none; /* 기본 select 화살표 제거 */
  outline: none;
  color: #333;
  border:none;
  border-bottom: 1px solid #E8E8E8;
  background: url('/icon_chevron_down.svg') no-repeat right 16px bottom 8px  / 32px 32px ;
}

.str-chat {border:none; background-color: #013F03;}

.relative { position: relative !important;}